header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


header ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: inside;
}

li {
  width: fit-content;
  border: 2px solid red;
}